html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

div {
    position: absolute;
    /* border: solid 1px; */
    width: 100px;
    height: 100px;
}

code {
    white-space: pre-wrap !important;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}